<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>

<body>
    <h1>{{.Title}}</h1>
    {{range $element := .Story}} <p>{{$element}}</p> {{end}} 

</body>

</html>